linux:LIBS	=
solaris:LIBS	=

LIBS += @libBuildLine@ -lm

#debug-solaris:LIBS    = \
#	-L../../lib/solaris -lecat+-debug \
#	-lm

#release-solaris:LIBS    = \
#	-L../../lib/solaris -lecat+ \
#	-lm

#linux:LIBS      = \
#	-L../../lib/linux -lecat+ \
#	-lm

#debug-linux:LIBS      = \
#	-L../../lib/linux -lecat+-debug \
#	-lm
