#
#  Copyright (C) 2004 CEA
#
#  This software and supporting documentation were developed by
#  	CEA/DSV/SHFJ
#  	4 place du General Leclerc
#  	91401 Orsay cedex
#  	France
#
#  Library configuration.
#
#

VERSION   = @version@
DEFINES   = @defines@

CONFIG    = thread

INCLUDEPATH = @includeBuild@
LIBS = @libDepsLine@

win32:LIBS += -lole32

TARGETLIB = @_name@@buildModeExtension@
