#
#  Copyright (C) 2001-2006 CEA
#
#  This software and supporting documentation were developed by
#  	CEA/DSV/SHFJ
#  	4 place du General Leclerc
#  	91401 Orsay cedex
#  	France
#
#  Executables configuration.
#

#!include config-local

TEMPLATE=	app

LIBS	= @libBuildLine@
