#
#  Copyright (C) 2000-2008 CEA
#
#  This software and supporting documentation were developed by
#  	CEA/DSV/SHFJ
#  	4 place du General Leclerc
#  	91401 Orsay cedex
#  	France
#
#  Executables configuration.
#

TEMPLATE        = app

#!include config-local

LIBS = @libBuildLine@
